@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi:wght@400;500;600;700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Raleway", sans-serif !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #031b13 !important;
}

@font-face {
  font-family: "Kahlil";
  src: local("Kahlil"), url(../public/fonts/kahlil-font.ttf) format("truetype");
}

.font-kahlil {
  font-family: "Kahlil", sans-serif !important;
}

.font-reem-kufi {
  font-family: "Reem Kufi", sans-serif !important;
}

.font-amiri {
  font-family: "Amiri", serif !important;
}

#wavesurfer-wrapper > wave {
  width: 100%;
  /* scale: 4; */
  /* transform: translate(50%); */
}

#wavesurfer-wrapper::-webkit-scrollbar {
  display: none;
}

.ayahs-wrapper::-webkit-scrollbar {
  display: none;
}

#wavesurfer-wrapper > *::-webkit-scrollbar {
  display: none;
}
